@font-face {
    font-family: 'Athene';
    src: url(../fonts/Athene.otf);
}

@font-face {
    font-family: 'Open Sans';
    src:  url(../fonts/Open_Sans/OpenSans-Regular.ttf);
} 

@font-face {
    font-family: 'Open Sans';
    src:  url(../fonts/Open_Sans/OpenSans-Light.ttf);
} 



@font-face {
    font-family: 'Mashi';
    src:  url(../fonts/NeueMachina-Medium.woff2);

} 

/* 

Questions / Issues/ TO DO:

1. Schrift Athene wohl bold - sieht so nach Vorlage aus. Aber 
bei dem kleinen font-size its ok...

2. Double dash soll zum tripple or quartetdash
SOLVED - aber es sollte wohl noch eine Möglichkeit geben


*/




html, body section{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
}

body{
    background-color: #efe8d7;

}

/* Header and first page + diverses */

header{
    /* border: 1px solid black; */
    position: fixed;
    top:0;
    width: 100%;
    /* background-color: transparent; */

}

header, main section:first-of-type{
    color: #002a5a;
}

h1{
    font-family: 'Athene';
    font-size: 8em;
    margin: 0
}


header div:first-of-type {
    display: flex;
    /* width: 100%; */
    justify-content: space-between;
    border-bottom: 1px solid #002a5a;

    
}

header div:first-of-type p{
    display: inline-block;
    padding: 0 80px;
}


main section:first-of-type{
    width: 85%;
    text-align: center;
    margin: 0 auto;
}



main section:first-of-type div h1{
    border-bottom: 1px solid #002a5a;
  
    /* border: 2px dotted tomato; */

}

main section:first-of-type div h1:first-of-type{
    margin-top: 100px;
}

main section:first-of-type div:first-of-type h1:last-of-type span{
letter-spacing: -24px;
}


main section:first-of-type div:last-child{
   margin-top: 50px;
   margin: 50px auto 50px auto;
   text-align: left;

}

main section:first-of-type div:last-child figure{
    padding-left: 33%;
}




main section h6{
    margin-top: 20px;
    font-size: 1.4em;
}

span{
    font-style: none;
    font-family: 'Athene';

}


/* Pink Page - Seite 2 */

main section:nth-child(2){
    background-color: #f4c4c4;
}